* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  align-items: center;
}

body {
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #283d59;
}

.wrapper {
  max-width: 1000px;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 3% 7%;
}

img {
  width: 100%;
  height: auto;
}

.logo-img {
  max-width: 175px;
}

.logo-text {
  max-width: 250px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.review {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #283d59;
  color: #fff;
  width: 70%;
  border-radius: 7px;
  text-decoration: none;
  transition: background 0.5s ease;
}

.review:hover, .btn-guest:focus {
  background-color: #557A95;
  color: #fff;
}

h1 {
	font-weight: 400;
  text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 25px;
}

#domain {
  color: #557A95;
}

.margined {
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
  .wrapper {
    width: 90%;
  }
}
